<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.0/phpunit.xsd"
        backupGlobals="true"
        bootstrap="vendor/autoload.php"
        cacheTokens="false"
        colors="true"
        printerClass="PHPUnit\TextUI\ResultPrinter"
        testSuiteLoaderClass="PHPUnit\Runner\StandardTestSuiteLoader">
    <testsuites>
        <testsuite name="AutoPsr4 tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
